<div class="container mt-5">

    <div class="row">
        <div class="col-md-10 mb-2 p-2 chat-window" id="messages"></div>

        <form onsubmit="return false;" class="col-md-10 mb-2 p-0 d-flex justify-content-center mt-3">

            <input type="text" id="txtInput" class="form-control form-control-lg m-1 border-dark" />
            <button class="btn btn-sm btn-primary m-1 send-width" type="button" id="btnSend"><i class="fa-regular fa-paper-plane fs-5"></i></button>

        </form>
    </div>
</div>

<div class="right-side-bar p-3">

    <div class="row" id="rightSidenav">
        <div class="col-md-12">
            <h6 class="mb-2">Outputs</h6>
        </div>
    </div>
</div>
