.custom-card-first {
    background: url('/img/card-one.png') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: end;
    height: 450px;
}

    .custom-card-first::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5); 
        border-radius: 10px;
        z-index: 1;
    }

.custom-card-second {
    background: url('/img/card-two.png') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: end;
    height: 450px;
}

    .custom-card-second::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        z-index: 1;
    }

.custom-card-content {
    position: relative;
    z-index: 2;
}

.btn-custom {
    background-color: #03bbe3;
    color: white;
    border-radius: 5px;
    width: 150px
}
